<!DOCTYPE html>
<html lang="en">

<head>

    <!-- 引入样式 -->
    <!-- 引入 Vue -->
    <!-- 引入组件库 -->
    
    <script src="../static/assets/js/vue.js"></script>
    <script src="../static/assets/js/axios.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/assets/css/switch.css"> -->
    <script src="../static/assets/js/element-index.js"></script>
    <script src="../static/assets/js/mqtt.min.js"></script>
	<script src="../templates/js/utils.js"></script>
	
	<link href="../static/assets/css/my.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/element-index.css">
    

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>农业管理系统</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="../static/assets/css/font.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div class="logo float-left">
		  <h1 class="text-light"><a href="../index.html">
			<span>农业管理系统</span>
		  <!-- </br></br> -->
			<div class="title-status" id="status">
				<el-switch v-model="value1" @change="changeStatus" disabled active-text="在线" inactive-text="离线" active-color="#3164c2"></el-switch>
			</div>
		</a>
		</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="temp.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
            <li><a href="../index.html">首页<i class="la la-angle-down"></i></a></li>
            <li class="active"><a href="../templates/Control.html">控制模块</a></li>
            <li><a href="../templates/Query.html">查询模块</a></li>
            <li><a href="../templates/Statistics.html">统计模块</a></li>
			<li><a href="../templates/Add.html">增加模块</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

      <!-- ======= Our Team Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
          <h2>控制模块</h2>
          <p class="section-p">根据手动和自动两种模式控制</p>
        </div>

            <!-- ======= Counts Section ======= -->
		<section class="counts section-bg">
			<div class="container">
			
				<div id="control">
				
					<div id="control_1" style="font-size: 25px;color: #428bca;font-weight: 700;"  >
						
						<div style="font-size: 25px;color: #577fa1;font-weight: 700;">

							电机A_<img id="img1" style="display: inline-block; height: 100px;width: 100px;" src="../static/assets/img/fs.png" >
							&nbsp;&nbsp;&nbsp;
							电机B_<img id="img2" style="display: inline-block; height: 100px;width: 100px;" src="../static/assets/img/fs_2.png" >
							&nbsp;&nbsp;&nbsp;
							步进电机_<img id="img3" style="display: inline-block; height: 100px;width: 100px;" src="../static/assets/img/fs2.png" >
							&nbsp;&nbsp;&nbsp;
							小灯_<img id="img4" style="display: inline-block; height: 100px;width: 100px;" src="../static/assets/img/dp.png" >
							
						</div>

					</br>

						<input type="radio" name="amodel" value='{"model":2}' onclick="changediv()"/>手动模式
						<input type="radio" name="amodel" value='{"model":1}' onclick="changediv()"/>自动模式
						</br></br>
							
							<div id="c2" style="color: #5c768d;display:none">
								<form name="myform">
									<div>温度预警阈值1: &nbsp;&nbsp; <span id="temp1_value"></span></div>
									<div>温度预警阈值2: &nbsp;&nbsp; <span id="temp2_value"></span></div>
									<div>光强预警阈值1: &nbsp;&nbsp; <span id="light1_value"></span></div>
									<div>光强预警阈值2: &nbsp;&nbsp; <span id="light2_value"></span></div>
									
								</br>

									<div>
										<input type="text" name="tempmeter1_1" placeholder="温度预警阈值1" class="control-input">
										&nbsp;↠
										<button type="button" onclick="changevalue1_1()" class="control-button">确定</button>
									</div>


									<div>
										<input type="text" name="tempmeter1_2" placeholder="温度预警阈值2" class="control-input">
										&nbsp;↠
										<button type="button" onclick="changevalue1_2()" class="control-button">确定</button>
									</div>

									<div>
										<input type="text" name="lightmeter2_1" placeholder="光照预警阈值1" class="control-input">
										&nbsp;↠
										<button type="button" onclick="changevalue2_1()" class="control-button">确定</button>
									</div>

									<div>
										<input type="text" name="lightmeter2_2" placeholder="光照预警阈值2" class="control-input">
										&nbsp;↠
										<button type="button" onclick="changevalue2_2()" class="control-button">确定</button>
									</div>

									
								</form>
							</div>
					</div>

					<div id="control_2">
						<div id="c1" style="color: #5c768d;font-weight: 600;font-size: 20px;display:none;">
							
					
							<label>小灯状态：</label>
							
							<el-switch v-model="deng" @change="dengBtn" active-text="开" inactive-text="关"></el-switch>

				
							</br>
							</br>
								<div id="control_3">
								<p> 直流电机A: </p>

								<div id="da" style="display: none;">
									<input type="text" id="dcmotora_number" placeholder="直流电机A转速" class="control-input2">
								</div>

								<!-- <input name ="dcmotora" type="radio" value='{"DCMOTORA":1}' onclick = "changetype('dcmotora')"> 正转 -->
								<!-- <input name ="dcmotora" type="radio" value='{"DCMOTORA":2}' onclick = "changetype('dcmotora')"> 反转 -->
								<!-- <input name ="dcmotora" type="radio" value='{"DCMOTORA":3}' onclick = "changetype('dcmotora')" checked> 停转 -->
								<input name ="dcmotora" type="radio" value='{"motor1":1}' onclick = "changetype1()"> 转动
								<input name ="dcmotora" type="radio" value='{"motor1":0}' onclick = "changetype1()" checked> 停转
								&nbsp;
								<button type="button" onclick="motorBtn1()" class="control-button2">确定</button>
								</div>

							</br>
								<div id="control_4">
								<p> 直流电机B: </p>

								<div id="db" style="display: none;">
									<input type="text" id="dcmotorb_number" placeholder="直流电机B转速" class="control-input2">
								</div>
								<!-- <input name ="dcmotorb" type="radio" value='{"DCMOTORB":1}' onclick = "changetype('dcmotorb')"> 正转
								<input name ="dcmotorb" type="radio" value='{"DCMOTORB":2}' onclick = "changetype('dcmotorb')"> 反转
								<input name ="dcmotorb" type="radio" value='{"DCMOTORB":3}' onclick = "changetype('dcmotorb')" checked> 停转 -->

								<input name ="dcmotorb" type="radio" value='{"motor2":1}' onclick = "changetype2()"> 转动
								<input name ="dcmotorb" type="radio" value='{"motor2":0}' onclick = "changetype2()" checked> 停转
								&nbsp;
								<button type="button" onclick="motorBtn2()" class="control-button2">确定</button>
								</div>

							</br>
								<div id="control_5">
								<p> 步进电机: </p>

								<div id="dc" style="display: none;">
								</div>

								<input name ="motor" type="radio" value='{"motor":1}' onclick = "changetype3()"> 转动
								<input name ="motor" type="radio" value='{"motor":0}' onclick = "changetype3()" checked> 停转
								&nbsp;
								<button type="button" onclick="motorBtn3()" class="control-button2">确定</button>
								</div>

						</div>

					</div>

				</div>

			</div>
		</section>

	</div>
</section>




  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

  <script type="text/javascript">


    var options = {
		clientId: 'mqttjs_' + Math.random().toString(16).substr(2, 8)
	};
	var client = mqtt.connect(utils.mqttServerUrl, options);

	var closeFlag = 0;
	var reconnectFlag = 0;
	var modelFlag = 0;
	var changeFlag_1 = 0;
	var changeFlag_2 = 0;

	var v1 = document.getElementById("c1");
	var v2 = document.getElementById("c2");
	var v = document.getElementsByName("amodel");
	var val1 = document.getElementsByName("motor");
	var val2 = document.getElementsByName("dcmotora");
	var val3 = document.getElementsByName("dcmotorb");


	var a="";
	var b="";
	var c="";

	var img1,img2,img3;
	var r1 = 0, timer1 = null, speed1 = 0;
	var r2 = 0, timer2 = null, speed2 = 0;
	var r3 = 0, timer3 = null, speed3 = 0;

	client.on('connect', function () {
		console.log("_connect success!");
		client.subscribe(utils.topicSub, { qos : 0 }, function (err, granted) {
			if (!err) {
				console.log("_subscribe success!" + new Date());
				//发布主题getipd,消息内容为Hello mqtt

				if(reconnectFlag == 0){
					alert("连接成功");

					setTimeout(() => {
						var date = new Date();
						var time = dateFormat("HHMMSS", date);
						// var time2 = time.replace(/:/g,"");
						// var time3 = time2.replace(/ /g,"");
						var timeStr = '{"time":'+time+'}';
						
						console.log("时间是:"+timeStr);
						
						client.publish(utils.topicOnline,timeStr); 
					}, 3000);

					reconnectFlag = 1;
					changeStatus(1);
					closeFlag = 0;
				}
			}else{
				//打印错误
				console.log("error");
				// location.reload();
			}
		});
	});

	client.on('close', function () {
		if(closeFlag == 0){
			alert("连接断开");
			closeFlag = 1;
			changeStatus(0);
			reconnectFlag = 0;
		}
	})


	client.on('message', function (topic, payload, packet) {

		jsonStr = payload.toString("utf8");
		json_obj = JSON.parse(jsonStr);

		console.log(json_obj);

		var mode = json_obj.Model;

// 		{
// 	"mode":2,
// 	"dcmotorA": 400,
// 	"dcmotorB": 0,
// 	"motor": 300,
//  "led":1
// }

		if(mode == 2){
			v[0].checked = "true";

			if(changeFlag_1 == 0){
				changediv();
				changeFlag_1 = 1;
			}

			var motor = json_obj.Motor;
			var motor1 = json_obj.Motor1;
			var motor2 = json_obj.Motor2;
			var led = json_obj.LED;

			if(motor == 0){
				val1[1].checked == 'true';
				stop3();
			}else if(motor == 1){
				val1[0].checked = 'true';
				rotate3(motor);
			}

			if(motor1 == 0){
				val2[1].checked == 'true';
				stop1();
			}else if(motor1 == 1){
				val2[0].checked = 'true';
				// rotate1(400);
			}

			if(motor2 == 0){
				val3[1].checked == 'true';
				stop2();
			}else if(motor2 == 1){
				val3[0].checked = 'true';
				// rotate2(400);
			}

			if(led == 0 || led == 1){
				dengBtn();
			}

		}
// {
//   "Model": 1,
//   "Temp_parameter1":20,
//   "Temp_parameter2":30
// }

		if(mode == 1){
			v[1].checked = "true";

			if(changeFlag_2 == 0){
				changediv();
				changeFlag_2=1;
			}
			var temp1 = json_obj.Temp1_param;
			var temp2 = json_obj.Temp2_param;
			var light1 = json_obj.Light1_param;
			var light2 = json_obj.Light2_param;

			document.getElementById("tempmeter1_1").innerText = temp1;
			document.getElementById("tempmeter1_2").innerText = temp2;
			document.getElementById("lightmeter2_1").innerText = light1;
			document.getElementById("lightmeter2_2").innerText = light2;
		}
		
		modelFlag = 1;

		// setInterval(() => {
			
		// }, 2000);
	})



	function rotate1(arg_speed1){
		img1 = document.getElementById("img1");
		speed1 = arg_speed1;
		// speed1 = 400;

		// if(timer == null){
			clearInterval(timer1);
			timer1 = setInterval(() => {
				r1 = r1 + speed1;
				console.log(r1);

				img1.style.transform = 'rotate(' + r1 + 'deg)';
				img1.style.transition = 'all 1s linear';
				console.log('定时器启动');
			}, 1000);
		// } else{
			// alert("请先关闭电机！");
        	// console.log('定时器已停止');
		// }
	};

	function stop1(){
		clearInterval(timer1);
        console.log('定时器已停止');
	}

	function rotate2(arg_speed2){
		img2 = document.getElementById("img2");
		speed2 = arg_speed2;
		// speed2 = 400;

		clearInterval(timer2);
		timer2 = setInterval(() => {
			r2 = r2 + speed2;
			console.log(r2);

			img2.style.transform = 'rotate(' + r2 + 'deg)';
			img2.style.transition = 'all 1s linear';
			console.log('定时器启动');
		}, 1000);
	};


	function stop2(){
		clearInterval(timer2);
        console.log('定时器已停止');
	}

	function rotate3(arg_speed3){
		img3 = document.getElementById("img3");
		speed3 = arg_speed3;
		// speed3 = 400;

		clearInterval(timer3);
		timer3 = setInterval(() => {
			r3 = r3 + speed3;
			console.log(r3);

			img3.style.transform = 'rotate(' + r3 + 'deg)';
			img3.style.transition = 'all 1s linear';
			console.log('定时器启动');
		}, 1000);
	};


	function stop3(){
		clearInterval(timer3);
        console.log('定时器已停止');
	}

	function motorBtn1() {
		var val = document.getElementsByName("dcmotora");
		if(val[0].checked){
			
			var dcmotora_data = document.getElementById("dcmotora_number").value;
			
			if(dcmotora_data > 0 && dcmotora_data <= 500){
				
				rotate1(parseInt(dcmotora_data));
				
				var str = '{"motor1":' + dcmotora_data +'}';
				
				client.publish(utils.topicPub,str, {qos:0});
				console.log('motor1转动: '+ utils.topicPub + str+ new Date());
			}else{
				alert("转速输入有误！");
			}
		}else if(val[1].checked){
			client.publish(utils.topicPub, val[1].value, {qos:0});
			stop1();
			console.log("motor1停止转动" +val[1].value + new Date()); 
		}
	}
	
	function motorBtn2() {
		var val = document.getElementsByName("dcmotorb");
		if(val[0].checked){

			var dcmotorb_data = document.getElementById("dcmotorb_number").value;
			if(dcmotorb_data > 0 && dcmotorb_data <= 500){

				rotate2(parseInt(dcmotorb_data));
				
				var str = '{"motor2":' + dcmotorb_data +'}';
			
				client.publish(utils.topicPub,str, {qos:0});
				console.log('motor2转动: '+ utils.topicPub +str + new Date());

			}else{
				alert("转速输入有误！");
			}
		}else if(val[1].checked){
			client.publish(utils.topicPub, val[1].value, {qos:0});
			stop2();
			console.log("motor2停止转动" +val[1].value +new Date()); 
		}
	}

	function motorBtn3() {
		var val = document.getElementsByName("motor");
		if(val[0].checked){
				
			client.publish(utils.topicPub,'{"motor":1}');
			console.log('motor转动+' + utils.topicPub + 'motor:1' + new Date());

		}else if(val[1].checked){
			client.publish(utils.topicPub, val[1].value, {qos:0});
			stop3();
			console.log("A:停止转动" +val[1].value); 
		}
	}
	

	function changevalue1_1() {
			var aa = myform.tempmeter1_1.value;
			if(aa == a)
			{
				console.log("temp1不变");
			}else {
				console.log("aa:" + aa + "  a:" + a);
				
				if(aa != "") {
					client.publish(utils.topicPub, '{"temp1":' +aa +'}', {qos:0});
					console.log("你改变了阈值 tempmeter1： " + aa);
					a = aa;
				};
			}
		};
	function changevalue1_2() {
			var aa = myform.tempmeter1_2.value;
			if(aa == a)
			{
				console.log("temp2不变");
			}else {
				console.log("aa:" + aa + "  a:" + a);
				
				if(aa != "") {
					client.publish(utils.topicPub, '{"temp2":' +aa +'}', {qos:0});
					console.log("你改变了阈值 tempmeter2： " + aa);   
					a = aa;
				};
			}
		};
		
	function changevalue2_1() {
			var aa = myform.lightmeter2_1.value;
			if(aa == a)
			{
				console.log("light1不变");
			}else {
				console.log("aa:" + aa + "  a:" + a);
				
				if(aa != "") {
					client.publish(utils.topicPub, '{"light1":' +aa +'}', {qos:0});
					console.log("你改变了阈值 light1： " + aa);   
					a = aa;
				};
			}
		};

	function changevalue2_2() {
			var aa = myform.lightmeter2_2.value;
			if(aa == a)
			{
				console.log("light2不变");
			}else {
				console.log("aa:" + aa + "  a:" + a);
				
				if(aa != "") {
					client.publish(utils.topicPub, '{"light2":' +aa +'}', {qos:0});
					console.log("你改变了阈值 light2： " + aa);   
					a = aa;
				};
			}
		};
			

    function changediv() {
		if(document.getElementsByName("amodel")[0].checked) {	//手动模式

			client.publish(utils.topicPub, '{"model":2}', {qos:0});
			console.log("你启动了" +v[0].value);

			document.getElementById("c1").style.display="block";	//手动
			document.getElementById("c2").style.display="none";
			
		} else if(document.getElementsByName("amodel")[1].checked) {	//自动模式

			client.publish(utils.topicPub, '{"model":1}', {qos:0});
			console.log("你启动了" +v[1].value);

			document.getElementById("c2").style.display="block";	//自动
			document.getElementById("c1").style.display="none";
		}
	};

    function changetype(args){
			var val = document.getElementsByName(args);
			for(var i=0; i<val.length; i++){
				if(val[i].checked){
					client.publish(utils.topicPub, val[i].value);
					console.log("你启动了" +val[i].value); 
				}
			}
		};

	function changetype1(){
		var val = document.getElementsByName("dcmotora");
		if(val[0].checked ){
			document.getElementById("da").style.display = "block";
			console.log(document.getElementById("da").style.display);
		}else if(val[1].checked){
			document.getElementById("da").style.display = "none";
		}
	};

	function changetype2(){
		var val = document.getElementsByName("dcmotorb");
		if(val[0].checked ){
			document.getElementById("db").style.display = "block";
			console.log(document.getElementById("db").style.display);
		}else if(val[1].checked){
			document.getElementById("db").style.display = "none";
		}
	};

	function changetype3(){
		var val = document.getElementsByName("motor");
		if(val[0].checked ){
			// document.getElementById("dc").style.display = "block";
			// console.log(document.getElementById("dc").style.display);
		}else if(val[1].checked){
			// document.getElementById("dc").style.display = "none";
		}
	};

    
</script>

<script type="text/javascript">


	var app2 = new Vue({

		el:"#status",
		data:{
			value1:" "
		},
		mounted(){
			window.changeStatus = this.changeStatus;
			// this.changeStatus();
		},
		methods:{
			changeStatus:function(arg){
				if(arg == 1){
					this.value1 = true;
				}
				if(arg == 0){
					this.value1 = false;
				}
			}
		}

	});

	var app1 = new Vue({
		el: "#control",
		data: {
			deng:" ",
			resultValue1:"",
			resultValue2:"",
			resultValue3:""
		},
		mounted(){
		// setInterval(this.change, 3000);
		// this.change();
			//将Vue方法传到全局对象window中
			window.dengBtn = this.dengBtn;
		},
		methods:{
			dengBtn:function(){
				var light = document.getElementById("img4");
				if(this.deng == true){
					light.src = "../static/assets/img/dp2.png";
					client.publish(utils.topicPub, '{"led2":250}', {qos:0}, function (error) {
						if (error) {
							console.log('111发布失败')
						} else {
							console.log('111发布成功'+new Date())
						}
					});
					console.log("你启动了开关1111");
				}
				else {
					// this.deng = false;
					light.src = "../static/assets/img/dp.png";
					client.publish(utils.topicPub, '{"led2":0}', {qos:0}, function (error) {
						if (error) {
							console.log('000发布失败')
						} else {
							console.log('000发布成功' + new Date())
						}
					});
					console.log("你关闭了开关000");  
				}
			},
			
			change:function(){
				that = this;
				
				axios.get("http://localhost:8080/data/getConNew").then((res)=>{
					var vo = res.data.data;
					console.log(vo);
					if(vo.autoModel == "2"){
						// v2.style.display = "block";
						
						flag = 1;
						v[0].checked = "true";

						changediv();

						if(vo.dcmotorA == '1'){
							val1[0].checked = 'true';
							
						}else if(vo.dcmotorA == '2'){
							val1[1].checked = 'true';
						}else if(vo.dcmotorA == '3'){
							val1[2].checked = 'true';
						};
						
						if(vo.dcmotorB == '1') {
							val2[0].checked = 'true';
						}else if(vo.dcmotorB == '2'){
							val2[1].checked = 'true';
						}else if(vo.dcmotorB == '3'){
							val2[2].checked = 'true';
						};
						
						if(vo.motor == '1') {
							val3[0].checked = 'true';
						}else if(vo.motor == '2'){
							val3[1].checked = 'true';
						}else if(vo.motor == '3'){
							
							val3[2].checked = 'true';
						};
						
						if(vo.led == '1') {
							that.deng = true;
							console.log("vo.LED" +vo.led);
						}else {
							that.deng = false;
							console.log("vo.LED" +vo.led);
						};

					}else{

						v[1].checked='true';
						changediv();
						
						// v1.style.display="block";
						
						that.resultValue1 = vo.tempParameter1;
						that.resultValue2 = vo.tempParameter2;
						that.resultValue3 = vo.lightParameter;
					}
				});
				},
			
			change2:function(){
				that = this;
				
				axios.get("http://localhost:8080/data/getConNew").then((res)=>{
					var vo = res.data.data;
					console.log(vo);
					if(vo.autoModel == "1"){
						console.log("自动模式阈值更新");
						that.resultValue1 = vo.tempParameter1;
						that.resultValue2 = vo.tempParameter2;
						that.resultValue3 = vo.lightParameter;
					}
				})
			}
		}

	});


</script>

</body>

</html>